body {
    font: 10px 'Courier New', monospace;
    background-color: #3490dc;
  }

.row{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* .bot-animation{
    position: fixed;
} */
.fixed {
    position: fixed;
    top:500px;
    left:3300px;
    text-align: center;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:20px;
    width:100%;
    background: #21263A;
    text-align: center;
    font-size: 8px;
    color: whitesmoke;
    margin-top: 5px;
 }
 